body {
    width: 75%;
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
}

